.procedures-section {
  padding: 48px 0 48px 0;

  &__container {
    position: relative;
    display: flex;
    gap: 32px;
    align-items: center;
    padding-bottom: 32px;
    z-index: 0;
  }
  &__title {
    color: var(--color-brand-dark);
    font-family: "Play", sans-serif;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  &__title span {
    color: var(--color-brand);
    font-family: "Play", sans-serif;
    text-align: center;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;

  &__button {
    background-color: #747272;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    border: none;
  }
  &__button--active {
    background-color: var(--color-brand);
  }
}
.arrow {
  fill: var(--color-brand-dark);
}

.arrow-button-prev,
.arrow-button-next {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-brand-dark);
  transition-duration: 0.25s;
}
.arrow-button-next {
  rotate: 180deg;
}
.arrow-button-next:hover .arrow,
.arrow-button-prev:hover .arrow {
  fill: var(--white);
}
.arrow-button-next:hover,
.arrow-button-prev:hover {
  background-color: var(--color-brand);
  border: 1px solid var(--white);
}
