.main-section {
  padding: 122px 0 63px 0;
  background-image: url("../images/background-main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  flex: 1 1 1240px;

  @media screen and (max-width: 810px) {
    padding-top: 70px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-left: 105px;

    @media screen and (max-width: $bp-tablet) {
      padding-left: 0;
    }
  }

  &__secondary-title {
    color: var(--color-brand-dark);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 16px;
    margin: 0;

    @media screen and (max-width: $bp-tablet) {
      margin: 0 auto;
      padding-bottom: 0;
      font-size: 12px;
    }
  }
  &__title {
    color: var(--color-brand);
    font-family: "Play", sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
    padding-bottom: 40px;
    margin: 0;
    text-align: start;
    max-width: 520px;

    @media screen and (max-width: $bp-tablet) {
      margin: 0 auto;
      font-size: 54px;
      padding-bottom: 32px;
    }
  }
  &__paragraph {
    color: #4a4a4a;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    max-width: 238px;
    margin: 0;
    font-size: 12px;

    @media screen and (max-width: $bp-tablet) {
      margin: 0 auto;
      font-size: 11px;
      text-align: center;
    }
  }
}
